<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:shiro="http://www.w3.org/1999/xhtml">
<head th:include="common/head :: headCss">

</head>
<div>
    <link href="../bootstrap/js/project/sys/shop/css/fileinput.min.css" rel="stylesheet">
    <style>


        .nav-tabs > li {
            display: inline-block;
            width: 14%;
            margin-right: 10px !important;
        }

        .nav-tabs li a {
            line-height: 2;
            color: #000000 !important;
            background: #dad9d9 !important;
        }

        .nav-tabs .active a {

            background: #3c8dbc !important;
            color: #ffffff !important;

        }

        .new {
            height: 40px !important;
            border: none !important;
        }

        #slideshow a {

            color: #000000 !important;
            background: #dad9d9 !important;
        }

        #slideshow .active a {
            border-top: solid 2px #3498db !important;
            background: #3c8dbc !important;
            color: #ffffff !important;

        }


    </style>
</div>
<body>
<div id="wrapper">
    <nav th:include="common/Left_Ment :: left"></nav>
    <div id="page-wrapper" class="gray-bg dashbard-1">
        <div th:include="common/Head :: head"></div>

        <ul id="myTab" class="nav nav-tabs">
            <li class="dropdown">
                <a href="#" id="myTabDrop1" class="dropdown-toggle"
                   data-toggle="dropdown">
                    首页轮播图 <b class="caret"></b></a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="myTabDrop1" id="slideshow">
                    <li><a href="#slideshow-First" tabindex="-1" data-toggle="tab">第一张板排</a></li>
                    <li><a href="#jmeter" tabindex="-1" data-toggle="tab">第二张板排</a></li>
                    <li><a href="#ejb" tabindex="-1" data-toggle="tab">第三张板排</a></li>
                </ul>
            </li>
            <li class="active"><a href="#home" data-toggle="tab">菜鸟教程</a></li>
            <li><a href="#ios" data-toggle="tab">iOS</a></li>

        </ul>
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade in active" id="home">
                <p>菜鸟教程是一个提供最新的web技术站点，本站免费提供了建站相关的技术文档，帮助广大web技术爱好者快速入门并建立自己的网站。菜鸟先飞早入行——学的不仅是技术，更是梦想。</p>
            </div>
            <div class="tab-pane fade" id="ios">
                <p>iOS 是一个由苹果公司开发和发布的手机操作系统。最初是于 2007 年首次发布 iPhone、iPod Touch 和 Apple
                    TV。iOS 派生自 OS X，它们共享 Darwin 基础。OS X 操作系统是用在苹果电脑上，iOS 是苹果的移动版本。</p>
            </div>
            <div class="tab-pane fade" id="slideshow-First">
                <div v-show="!showList" class="panel panel-default">
                    <div class="panel-heading">{{title}}</div>
                    <form class="form-horizontal" id="slideshow_1" name="id">
                        <input type="hidden" name="slideshow_1_id">
                        <div class="form-group">
                            <div class="col-sm-2 control-label">商品图片</div>
                            <div class="col-sm-10">
                                <div class="form-group" id="picimg">
                                    <input type="file" name="reportFile" id="reportFile" multiple class="file-loading"/>
                                    <input type="hidden" class="form-control" name="detail_picture" id="detail_picture"

                                    />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-2 control-label">文字描述一</div>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="text_1_1"
                                       id="text_1_1" v-model="carousel.text_1_1" placeholder="文字描述一"
                                />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-2 control-label">文字描述二</div>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="text_1_2"
                                       v-model="carousel.text_1_2" placeholder="文字描述二"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-2 control-label">文字描述三</div>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="text_1_3" name="text_1_3"
                                       v-model="carousel.text_1_3"
                                       placeholder="文字描述三"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-2 control-label">文字描述四</div>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="text_1_4" name="text_1_4"
                                       v-model="carousel.text_1_4"
                                       placeholder="文字描述四"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-2 control-label">文字描述五</div>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="text_1_5" name="text_1_5"
                                       v-model="carousel.text_1_5"
                                       placeholder="文字描述五"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-2 control-label">文字描述六</div>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="text_1_6" name="text_1_6"
                                       v-model="carousel.text_1_6"
                                       placeholder="文字描述六"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-2 control-label"></div>
                            <input type="button" name="submit" class="btn btn-primary" @click="Update('1')" value="确定"/>
                            &nbsp;&nbsp;<input type="button" class="btn btn-warning" value="返回"/>
                        </div>
                    </form>
                </div>
            </div>
            <div class="tab-pane fade" id="ejb">
                <p>Enterprise Java Beans（EJB）是一个创建高度可扩展性和强大企业级应用程序的开发架构，部署在兼容应用程序服务器（比如 JBOSS、Web Logic 等）的 J2EE 上。
                </p>
            </div>
        </div>

    </div>

</div>

<div th:include="common/Head :: js"></div>
<script src="../bootstrap/js/dept/js/vue.min.js"></script>

<script src="../bootstrap/js/dept/js/bootstrapValidator.js"></script>

<script src="../bootstrap/js/project/sys/shop/js/fileinput.min.js"></script>
<script src="../bootstrap/js/project/sys/shop/js/zh.js"></script>
<script src="../bootstrap/js/project/user/shop/indexManage/js/indexManage.js"></script>

<script>

    $(function () {


    })
</script>
</body>
</html>