<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youhe.mapper.order.OrderMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.youhe.entity.order.Order">
        <id column="id" property="id" />
        <result column="b_order_num" property="bOrderNum" />
        <result column="total_price" property="totalPrice" />
        <result column="status" property="status" />
        <result column="end_time" property="endTime" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, b_order_num, total_price, status, end_time, create_time
    </sql>

    <sql id="order_Column_List">
        id, bigOrderCode, status, orderEndTime, totalPrice, transportStatus
    </sql>

    <sql id="details_Column_List">
        id, bigOrderCode, orderCode, name, pirce, num, remark
    </sql>

    <select id="findOrder" parameterType="com.youhe.entity.order.Order" resultMap="BaseResultMap">
        select <include refid="order_Column_List"/> from order_order
        where 1=1
        <if test="id != null">
            AND id = #{id}
        </if>
        <if test="bOrderNum != null">
            AND b_order_num = #{bOrderNum}
        </if>
    </select>


    <!--<update id="updateOrder" parameterType="com.youhe.entity.order.Order">
        UPDATE order_order
        SET
        <trim suffixOverrides=",">
            <if test="bigOrderCode != null">
                bigOrderCode =#{bigOrderCode},
            </if>
            <if test="status != null ">
                status=#{status},
            </if>
            <if test="orderEndTime != null">
                orderEndTime =#{orderEndTime},
            </if>
            <if test="totalPrice != null">
                totalPrice =#{totalPrice},
            </if>
            <if test="transportStatus != null">
                transportStatus =#{transportStatus},
            </if>
        </trim>
        WHERE
        1=1
        <if test="id != null">
            AND id = #{id}
        </if>
        <if test="bigOrderCode != null">
            AND bigOrderCode = #{bigOrderCode}
        </if>
    </update>

    <insert id="saveOrder" parameterType="com.youhe.entity.order.Order" keyProperty="id"
            useGeneratedKeys="true">
        insert into order_order(bigOrderCode,
                                status,
                                orderEndTime,
                                totalPrice, transportStatus)
            value (
                   #{bigOrderCode},
                   #{status},
                   #{orderEndTime},
                   #{totalPrice},
                   0
            )
    </insert>-->

    <!--<delete id="delOrder" parameterType="com.youhe.entity.order.Order">
        DELETE
        from order_order
        where
        <if test="id != null">
            AND id = #{id}
        </if>
        <if test="bigOrderCode != null and  bigOrderCode !=''">
            AND bigOrderCode = #{bigOrderCode}
        </if>
    </delete>

    <select id="findOrderDetails" resultType="com.youhe.entity.order.OrderDetails">
        select <include refid="details_Column_List"/> from order_orderDetails
        <trim prefix="where" prefixOverrides="and">
            <if test="id != null">
                AND id = #{id}
            </if>
            <if test="bigOrderCode != null and bigOrderCode != ''">
                AND bigOrderCode = #{bigOrderCode}
            </if>
            <if test="orderCode != null">
                AND orderCode = #{orderCode}
            </if>
        </trim>
    </select>

    <update id="updateOrderDetails" parameterType="com.youhe.entity.order.OrderDetails">
        UPDATE order_orderDetails
        SET
        <trim suffixOverrides=",">
            <if test="bigOrderCode != null and bigOrderCode !=''">
                bigOrderCode =#{bigOrderCode},
            </if>
            <if test="orderCode != null and orderCode !=''">
                orderCode =#{orderCode},
            </if>
            <if test="name != null and name !=''">
                name =#{name},
            </if>
            <if test="pirce != null ">
                pirce=#{pirce},
            </if>
            <if test="num != null ">
                num=#{num},
            </if>
            <if test="remark != null and remark !=''">
                remark =#{remark},
            </if>
        </trim>
        WHERE
        1=1
        <if test="id != null">
            AND id = #{id}
        </if>
        <if test="bigOrderCode != null and  bigOrderCode !=''">
            AND bigOrderCode = #{bigOrderCode}
        </if>
        <if test="orderCode != null and  !=''">
            AND orderCode = #{orderCode}
        </if>
    </update>

    <insert id="saveOrderDetails" parameterType="com.youhe.entity.order.OrderDetails" keyProperty="id"
            useGeneratedKeys="true">
        insert into order_orderDetails(bigOrderCode,
                                       orderCode,
                                       name,
                                       pirce,
                                       num,
                                       remark)
            value (
                   #{bigOrderCode},
                   #{orderCode},
                   #{name},
                   #{pirce},
                   #{num},
                   #{remark})
    </insert>


    <delete id="delOrderDetails" parameterType="com.youhe.entity.order.OrderDetails">
        DELETE
        from order_orderDetails
        where
        <if test="id != null">
            AND id = #{id}
        </if>
        <if test="bigOrderCode != null and  bigOrderCode !=''">
            AND bigOrderCode = #{bigOrderCode}
        </if>
        <if test="orderCode != null and  !=''">
            AND orderCode = #{orderCode}
        </if>
    </delete>-->


</mapper>