<table class="table table-bordered">
    <table class="table table-bordered">
        <tbody>
        <tr>
            <td>填表日期</td>
            <td><input  type="text" class="form-control"  required id="createTime" name="createTime"/></td>
            <td style="width: 3cm">填表人</td>
            <td><input type="text" class="form-control" required id="person" name="person" /></td>
            <td>流水号</td>
            <td><input type="text" class="form-control" id="number" name="number" readonly="readonly" /></td>
        </tr>
        <tr>
            <td>部门</td>
            <td><input type="text" class="form-control" required id="department" name="department" /></td>
            <td style="width: 3cm">请假人</td>
            <td><input type="text" class="form-control" required id="dummy" name="dummy" /></td>
            <td>入职日期</td>
            <td><input  type="text" class="form-control"  required id="createTimeEntry" name="createTimeEntry"/></td>
        </tr>
        <tr>
            <td>告假类别</td>
            <td colspan="6">
                <select class="form-control" name="leaveType" data-edit="" style="width: 2cm">
                    <option value="1" name="shijia">事假</option>
                    <option value="1" name="nianjia">年假</option>
                    <option value="1" name="hunjia">婚假</option>
                    <option value="1" name="changjia">产假/陪产假</option>
                    <option value="1" name="tiaoxiu">调休</option>
                    <option value="2" name="buxiu">补休</option>
                    <option value="2" name="qita">其他</option>
                </select>
            </td>
        </tr>
        <tr>
            <td valign="middle">请假原因</td>
            <td colspan="8" style="height: 3cm"><textarea class="form-control" required name="reasons" style="min-height: 2.5cm"></textarea></td>
        </tr>
        <tr>
            <td valign="middle" colspan="1">请假开始日期</td>
            <td colspan="1"><input  type="text" class="form-control"  required id="startTime" name="startTime"/></td>
            <td valign="middle" colspan="2">请假结束日期</td>
            <td colspan="2"><input  type="text" class="form-control"  required id="endTime" name="endTime"/></td>
        </tr>
        <tr>
            <td valign="middle" colspan="1" >合计请假时间</td>
            <td colspan="1" class='form-inline'><input  type="text" class="form-control" style="width:200px" required id="nDays" name="nDays" />天<a style="color:red;font-size:10px;">注:1小时为0.125天</a></td>
            <td valign="middle" colspan="2">假日中联系电话</td>
            <td colspan="2"><input type="text" class="form-control" required id="contact " name="contact" /></td>
        </tr>
        <tr>
            <td valign="middle" colspan="8" >需要跟办工作：<a style="color:red;font-size:12px;">3天以上假期必填，可另附表，跟办人事宜需由部门负责人确认（需加签确认)</a></td>
        </tr>
        <tr>
            <td colspan="8" style="height: 3cm">
                <textarea class="form-control" required name="genban" style="min-height: 2.0cm"></textarea></td>
        </tr>
        <tr>
        <td>跟办人</td>
        <td><input type="text" class="form-control" required id="manager" name="manager" /></td>
            <td style="width: 4cm"></td>
            <td colspan="4"></td>
        </tr>

        <tr>
            <td>部门负责人审批</td>
            <td><input type="text" class="form-control"  id="departments" name="departments" style="height: 1.5cm"/></td>
            <td style="width: 4cm">人事部审批</td>
            <td colspan="4"><input type="text" class="form-control" id="personnel" name="personnel" style="height: 1.5cm"/></td>
        </tr>
        <tr>
            <td>事业部副总监审批</td>
            <td><input type="text" class="form-control" id="deputy " name="deputy " style="height: 1.5cm"/></td>
            <td style="width: 4cm">事业部总监审批</td>
            <td colspan="4"><input type="text" class="form-control" id="zongjian" name="zongjian" style="height: 1.5cm"/></td>
        </tr>
        <tr>
            <td>总经理审批</td>
            <td><input type="text" class="form-control" id="general " name="general" style="height: 1.5cm"/></td>
            <td style="width: 4cm">人事存档确认</td>
            <td colspan="4"><input type="text" class="form-control" id="confirmation" name="confirmation" style="height: 1.5cm"/></td>
        </tr>

        <tr>
            <td  colspan="8" style="color:red;height: 2cm">
                <br>注:</br>
                <br> &nbsp; &nbsp; &nbsp; &nbsp;1、总监有权授权副总监代为审批同意。</br>
                <br> &nbsp; &nbsp; &nbsp; &nbsp;2、主管级以下人员3天以上假期由事业部总监审批同意方可生效。</br>
                <br> &nbsp; &nbsp; &nbsp; &nbsp;3、主管级（含）以上人员3天以上假期须由总经理审批同意方可生效。</br>
                <br> &nbsp; &nbsp; &nbsp; &nbsp;4、所有带薪假期必须经过人力资源部核准后按休假申请流程进行审批方可生效。</br>
                <br> &nbsp; &nbsp; &nbsp; &nbsp;5、所有假期申请须按照《员工手册》中休假相关规定进行审批，交由人事部存档，否则视为无效。 </br>
            </td>
        </tr>
        </tbody>
    </table>
</table>
<script>
    layui.use('laydate', function(){
        var laydate = layui.laydate;

        laydate.render({
            elem: '#createTime'
        });
        laydate.render({
            elem: '#createTimeEntry'
        });
        laydate.render({
            elem: '#startTime'
        });
        laydate.render({
            elem: '#endTime'
        });
    });

    $(function () {
        function S4() {
            return (((1 + Math.random()) * 0x10000) | 0).toString(16).substring(1);
        }

        function guid() {
            return (S4() + S4() + S4());
        }

        var myID =guid();
        console.log(myID)
        $("#number").val(myID)

    })
    /**
     * 重写表单提交前事件
     * @returns {boolean}
     */
    function preSubmit() {
        console.log('重写表单提交前事件...');
        // 此处编写任务提交前的业务逻辑（如果需要，不需要就不用重写此方法了）
        // alert('不允许提交');
        // return false;   // 返回false可阻止继续表单提交
    }

</script>
</body>
</html>