<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>申请信息</title>
    <div th:include="common/head :: headCss"></div>

    <div th:include="activiti/common/form :: formHeadView"></div>
</head>
<body style="background: white">
    <!--<form name="myForm" id="myForm" action="../../submit/task" method="post">-->
    <form name="businessForm" id="businessForm" >
        <div class="form-group">
            <label class="col-sm-2 control-label">请假类型</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="leaveType"  placeholder="填写审批意见"/>
            </div>
        </div>
        <!--<div class="form-group">
            <label class="col-sm-2 control-label">开始时间</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="startTime" th:value="${taskData.startTime==null?'':taskData.startTime}" placeholder="填写审批意见"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">结束时间</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="endTime" th:value="${taskData.endTime==null?'':taskData.endTime}" placeholder="填写审批意见"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">请假原因</label>
            <div class="col-sm-10">
                <textarea class="form-control" name="reason" th:text="${taskData.reason==null?'':taskData.reason}" placeholder="填写审批意见"></textarea>
            </div>
        </div>-->
        <!--隐藏字段，用于路由条件变量判断-->
        <div>
            <input type="hidden" name="userId" value="">
        </div>

    </form>

    <!--提交任务模态框-->
    <div th:include="activiti/common/form :: submitTaskModal"></div>

    <!--<script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>-->
    <div th:include="common/Head :: js"></div>
    <script>
        $(function () {

            /*function CloseWebPage(){
                if (navigator.userAgent.indexOf("MSIE") > 0) {
                    if (navigator.userAgent.indexOf("MSIE 6.0") > 0) {
                        window.opener = null;
                        window.close();
                    }else {
                        window.open('', '_top');
                        window.top.close();
                    }
                }
                else if (navigator.userAgent.indexOf("Firefox")>0 || navigator.userAgent.indexOf("Chrome")> 0) {
//window.location.href = 'about:blank ';
                    window.location.href="about:blank";
                    window.close();
                }
                else {
                    window.opener=null;
                    window.open('','_self');
                    window.close();
                }
            }*/

        });
    </script>
</body>
</html>