<table class="table table-bordered">
                <table class="table table-bordered">
                    <tbody>
                    <tr>
                        <td >填表人</td>
                        <td><input type="text" class="form-control"    required name="person"/></td>
                        <td>所属部门</td>
                        <td><input type="text" class="form-control"   required name="department"/></td>
                        <td>填表日期</td>
                        <td><input type="text" class="form-control"   required id="createTime" name="createTime"/></td>
                    </tr>
                    <tr>
                        <td colspan="1" >现编制人数</td>
                        <td colspan="1" style="text-align: center;">现在职人数</td>
                        <td colspan="2" style="text-align: center;">下年度编制人数预计</td>
                        <td colspan="2" style="text-align: center;">需□增加/□减少</td>
                    </tr>
                    <tr>
                        <td colspan="1" style="height: 2cm"><input type="text" class="form-control" required name="current " style="height: 1.5cm" oninput="preSubmit(this)" pattern="^\d+$"/></td>
                        <td colspan="1" style="height: 2cm"><input type="text" class="form-control" required  name="incumbency" style="height: 1.5cm" oninput="preSubmit(this)" pattern="^\d+$"/></td>
                        <td colspan="2" style="height: 2cm"><input type="text" class="form-control" required name="organization" style="height: 1.5cm" oninput="preSubmit(this)" pattern="^\d+$"/></td>
                        <td colspan="2" style="height: 2cm"><input type="text" class="form-control" required name="increase" style="height: 1.5cm"/></td>
                    </tr>
                    <tr>
                        <td colspan="4"  style="text-align: center;">需增岗位明细<a style="color:red;">（限制7行）</a></td>
                        <td colspan="3" style="text-align: center;">合计(人数)</td>
                    </tr>
                    <tr>
                        <td colspan="8" style="height: 2cm"><textarea class="form-control" name="position" style="min-height: 4.5cm"></textarea></td>
                    </tr>
                    <tr>
                        <td>增加岗位原因说明<a style="color:red;">（限制5行）</a></td>
                        <td colspan="8" style="height: 3cm"><textarea class="form-control" name="reason" style="height: 2.5cm"></textarea></td>
                    </tr>
                    <tr>
                        <td colspan="4"  style="text-align: center;">需减岗位明细<a style="color:red;">（限制7行）</a></td>
                        <td colspan="3" style="text-align: center;">合计(人数)</td>
                    </tr>
                    <tr>
                        <td colspan="8" style="height: 2cm"><textarea class="form-control" name="reduce" style="min-height: 4.5cm"></textarea></td>
                    </tr>
                    <tr>
                        <td>减少岗位原因说明<a style="color:red;">（限制5行）</a></td>
                        <td colspan="8" style="height: 3cm"><textarea class="form-control" name="reduceReason" style="height: 2.5cm"></textarea></td>
                    </tr>
                    <!--<tr>-->
                        <!--<td colspan="2" style="text-align: center;">事业部副总监</td>-->
                        <!--<td colspan="2" style="text-align: center;">事业部总监</td>-->
                        <!--<td colspan="2" style="text-align: center;">人事部</td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<td colspan="2">  <input type="text" class="form-control" name="director" style="height: 2.5cm"/></td>-->
                        <!--<td colspan="2">  <input type="text" class="form-control" name="fuDirector" style="height: 2.5cm"/></td>-->
                        <!--<td colspan="4">  <input type="text" class="form-control" name="personnel" style="height: 2.5cm"/></td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<td colspan="2" style="text-align: center;">管理中心</td>-->
                        <!--<td colspan="4" style="text-align: center;">总经理</td>-->
                    <!--</tr>-->
                    <!--<tr>-->

                        <!--<td colspan="2">  <input type="text" class="form-control" name="center" style="height: 2.5cm"/></td>-->
                        <!--<td colspan="4">  <input type="text" class="form-control" name="zmanager" style="height: 2.5cm"/></td>-->
                    <!--</tr>-->
                    <tr>
                        <td  colspan="8" style="color:red;height: 6cm">
                            <br>注:</br>
                            <br>1、各部门在每年的11月份填报下一年度人才需求计划。</br>
                            <br>2、各部门有新增人员招聘需要，请提前2个月提交《招聘申请书》，并附相关岗位的岗位说明书。</br>
                            <br>3、职务序列是指此岗位定级：经理级/副经理（主任）级/主管级/专员级/助理级/服务员。</br>
                            <br>4、工资幅度是指结合部门的薪资情况及公司整体薪资情况给待聘人员确定大致的工资范围。</br>
                            <br>5、语种要求是指根据岗位的要求待聘人员是否需要掌握流利的外语/粤语/普通话/本地话。</br>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </table>
<script>
    layui.use('laydate', function(){
        var laydate = layui.laydate;

        laydate.render({
            elem: '#createTime'
        });
    });

    // $("#demo").on("input",function(){
    //     var realHeight = document.getElementById("demo").scrollHeight;
    //     document.getElementById("demo").scrollTop=realHeight;
    //     if($(this).scrollTop>0){
    //         alert("超过了")
    //         //TODO:超过行数
    //     }else{
    //         //TODO:没有超过行数
    //     }
    // });

    /**
     * 重写表单提交前事件
     * @returns {boolean}
     */
    function preSubmit(i) {
        if(i.validity.patternMismatch ===true){
            i.setCustomValidity("请输入符合格式的数字");
            i.validationMessage("请输入符合格式的数字");
        }
        i.setCustomValidity("");
    }
</script>
</body>
</html>