<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->

<!-- Head BEGIN -->
<head>
    <meta charset="utf-8">
    <title>Metronic Shop UI</title>

    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <meta content="Metronic Shop UI description" name="description">
    <meta content="Metronic Shop UI keywords" name="keywords">
    <meta content="keenthemes" name="author">

    <meta property="og:site_name" content="-CUSTOMER VALUE-">
    <meta property="og:title" content="-CUSTOMER VALUE-">
    <meta property="og:description" content="-CUSTOMER VALUE-">
    <meta property="og:type" content="website">
    <meta property="og:image" content="-CUSTOMER VALUE-"><!-- link to image for socio -->
    <meta property="og:url" content="-CUSTOMER VALUE-">

    <link rel="shortcut icon" href="favicon.ico">
    <link href="/favicon.ico" rel="SHORTCUT ICON" type="image/ico">

    <!-- Fonts START -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&subset=all" rel="stylesheet"
          type="text/css">
    <link href="http://fonts.googleapis.com/css?family=PT+Sans+Narrow&subset=all" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900&subset=all"
          rel="stylesheet" type="text/css"><!--- fonts for slider on the index page -->
    <!-- Fonts END -->

    <!-- Global styles START -->
    <link rel="stylesheet" type="text/css" href="http://www.jq22.com/jquery/font-awesome.4.6.0.css">
    <link rel="stylesheet" type="text/css" href="http://www.jq22.com/jquery/bootstrap-3.3.4.css">
    <!-- Global styles END -->

    <!-- Page level plugin styles START -->
    <link href="../bootstrap/user/plugins/fancybox/source/jquery.fancybox.css" rel="stylesheet">
    <link href="../bootstrap/user/plugins/bxslider/jquery.bxslider.css" rel="stylesheet">
    <link rel="stylesheet" href="../bootstrap/user/plugins/layerslider/css/layerslider.css" type="text/css">
    <!-- Page level plugin styles END -->

    <!-- Theme styles START -->
    <link href="../bootstrap/user/css/style-metronic.css" rel="stylesheet" type="text/css">
    <link href="../bootstrap/user/css/style.css" rel="stylesheet" type="text/css">
    <link href="../bootstrap/user/css/style-responsive.css" rel="stylesheet" type="text/css">
    <link href="../bootstrap/user/css/custom.css" rel="stylesheet" type="text/css">
    <!-- Theme styles END -->
    <link href="../layui/css/layui.css" rel="stylesheet">
    <style>
        .layui-layer-content {
            padding: 10px;
        }

        #product-pop-up a:focus, #product-pop-up a:hover, #product-pop-up a:active {
            text-decoration: none;
            cursor: pointer;
        }

        .viewPicture {
            width: 400px !important;
            height: 400px !important;
        }

        .product-quantity1 {
            width: 70px;
            float: left;
            margin-right: 20px;
            position: relative;
        }

        .product-quantity1 input.form-control {
            border: none;
            background: #edeff1 !important;
            font: 300 23px 'Open Sans', sans-serif;
            color: #647484;
            height: 38px;
            width: 50px;
            text-align: center;
            padding: 5px;
        }

        .product-quantity1 .btn i {
            position: relative;
            top: -2px;
            left: 1px;
        }
    </style>
</head>
<!-- Head END -->

<!-- Body BEGIN -->
<body>
<!-- BEGIN TOP BAR -->
<div id="wrapper">

    <!-- BEGIN TOP BAR -->
    <div th:include="common/userShopHead :: head"></div>
    <!-- END TOP BAR -->

    <!-- BEGIN HEADER -->
    <div th:include="common/userShopHead :: head-navigation"></div>
    <!-- END HEADER -->

    <!-- BEGIN SLIDER -->
    <div class="page-slider margin-bottom-35">
        <!--LayerSlider begin-->


        <div id="layerslider" style="width: 100%; height: 494px; margin: 0 auto;">
            <!--LayerSlider layer-->
            <div class="ls-layer ls-layer1" style="slidedirection: right; transition2d: 24,25,27,28; ">
                <img src="" th:src="${carouselList[0].pageaddr}+'/'+${carouselList[0].saveFileName}" class="ls-bg"
                     alt="Slide background">
                <div class="ls-s-1 title"
                     style=" top: 96px; left: 35%; slidedirection : fade; slideoutdirection : fade; durationin : 750; durationout : 750; easingin : easeOutQuint; rotatein : 90; rotateout : -90; scalein : .5; scaleout : .5; showuntil : 4000; white-space: nowrap;">
                    <span th:text="${carouselList[0].text_1}"></span>
                    <strong> <span th:text="${carouselList[0].text_2}"></span></strong> <span
                        th:text="${carouselList[0].text_3}"></span>
                </div>
                <div class="ls-s-1 mini-text"
                     style=" top: 338px; left: 35%; slidedirection : fade; slideoutdirection : fade; durationout : 750; easingin : easeOutQuint; delayin : 300; showuntil : 4000; white-space: nowrap;">
                    <span th:text="${carouselList[0].text_4}"></span><br> <span
                        th:text="${carouselList[0].text_5}"></span>
                </div>
            </div>

            <!--LayerSlider layer-->
            <div class="ls-layer ls-layer2" style="slidedirection: right; transition2d: 110,111,112,113; ">
                <img th:src="${carouselList[1].pageaddr}+'/'+${carouselList[1].saveFileName}" class="ls-bg"
                     alt="Slide background">
                <div class="ls-s-1 ls-title title"
                     style=" top: 40%; left: 21%; slidedirection : fade; slideoutdirection : fade; durationin : 750; durationout : 750; easingin : easeOutQuint; easingout : easeInOutQuint; delayin : 0; delayout : 0; rotatein : 90; rotateout : -90; scalein : .5; scaleout : .5; showuntil : 4000; white-space: nowrap;">
                    <strong class="title"><span th:text="${carouselList[1].text_1}"></span></strong>
                    <span th:text="${carouselList[1].text_2}"></span>
                    <em class="title"><span th:text="${carouselList[1].text_3}"></span></em>
                </div>

                <div class="ls-s-2 ls-price title"
                     style=" top: 50%; left: 45%; slidedirection : fade; slideoutdirection : fade; durationout : 109750; easingin : easeOutQuint; delayin : 300; scalein : .8; scaleout : .8; showuntil : 4000; white-space: nowrap;">
                    <b th:text="${carouselList[1].text_4}"></span></b>
                    <strong><span>¥</span><a th:text="${carouselList[1].text_5}" style="color:#FFFFFF; "></a></strong>
                </div>

                <a href="#" class="ls-s-1 ls-more mini-text"
                   style=" top: 72%; left: 21%; slidedirection : fade; slideoutdirection : fade; durationin : 750; durationout : 750; easingin : easeOutQuint; easingout : easeInOutQuint; delayin : 0; delayout : 0; rotatein : 90; rotateout : -90; scalein : .5; scaleout : .5; showuntil : 4000; display: inline-block; white-space: nowrap;">
                    <span th:text="${carouselList[1].text_6}"></span>
                </a>
            </div>

            <!--LayerSlider layer-->
            <div class="ls-layer ls-layer3" style="slidedirection: right; transition2d: 92,93,105; ">
                <img th:src="${carouselList[2].pageaddr}+'/'+${carouselList[2].saveFileName}" class="ls-bg"
                     alt="Slide background">

                <div class="ls-s-1 ls-title"
                     style=" top: 83px; left: 33%; slidedirection : fade; slideoutdirection : fade; durationin : 750; durationout : 750; easingin : easeOutQuint; rotatein : 90; rotateout : -90; scalein : .5; scaleout : .5; showuntil : 4000; white-space: nowrap;">
                    <span th:text="${carouselList[2].text_1}"></span>
                    <strong><span th:text="${carouselList[2].text_2}"></span></strong>
                    <span th:text="${carouselList[2].text_3}"></span>
                </div>

                <div class="ls-s-1"
                     style=" top: 333px; left: 33%; slidedirection : fade; slideoutdirection : fade; durationout : 750; easingin : easeOutQuint; delayin : 300; scalein : .8; scaleout : .8; showuntil : 4000; white-space: nowrap; font-size: 20px; font: 20px 'Open Sans Light', sans-serif;">
                    <a href="#" class="ls-buy">
                        <span th:text="${carouselList[2].text_4}"></span>
                    </a>
                    <div class="ls-price">
                        <span th:text="${carouselList[2].text_5}"></span>
                        <strong><a th:text="${carouselList[2].text_5}" style="color:#FFFFFF; "></a><sup>¥</sup></strong>
                    </div>
                </div>
            </div>

            <!--LayerSlider layer-->
            <div class="ls-layer ls-layer5" style="slidedirection: right; transition2d: 110,111,112,113; ">
                <img th:src="${carouselList[3].pageaddr}+'/'+${carouselList[3].saveFileName}" class="ls-bg"
                     alt="Slide background">

                <div class="ls-s-1 title"
                     style=" top: 35%; left: 60%; slidedirection : fade; slideoutdirection : fade; durationin : 750; durationout : 750; easingin : easeOutQuint; rotatein : 90; rotateout : -90; scalein : .5; scaleout : .5; showuntil : 4000; white-space: nowrap;">
                    <span th:text="${carouselList[3].text_1}"></span><br>
                    <span th:text="${carouselList[3].text_2}"></span>
                </div>

                <div class="ls-s-1 mini-text"
                     style=" top: 70%; left: 60%; slidedirection : fade; slideoutdirection : fade; durationout : 750; easingin : easeOutQuint; delayin : 300; scalein : .8; scaleout : .8; showuntil : 4000; white-space: nowrap;">
                    <span><span th:text="${carouselList[3].text_3}"></span></span>
                    <a href="#"><span th:text="${carouselList[3].text_4}"></span></a>
                </div>
            </div>
        </div>
        <!--LayerSlider end-->
    </div>
    <!-- END SLIDER -->

    <div class="main">
        <div class="container">
            <!-- BEGIN SALE PRODUCT & NEW ARRIVALS -->
            <div class="row margin-bottom-40">
                <!-- BEGIN SALE PRODUCT -->
                <div class="col-md-12 sale-product">
                    <h2>新品销售</h2>
                    <div class="bxslider-wrapper">
                        <ul class="bxslider" data-slides-phone="1" data-slides-tablet="2" data-slides-desktop="5"
                            data-slide-margin="15">
                            <!-- 最新列表 -->
                            <li th:each="shopList,info : ${shopList}">
                                <div class="product-item">
                                    <div class="pi-img-wrapper">
                                        <img th:src="${shopList.pageaddr}+'/'+${shopList.saveFileName}"
                                             class="img-responsive"
                                             alt="商品">
                                        <div>
                                            <a th:href="${shopList.pageaddr}+'/'+${shopList.saveFileName}"
                                               class="btn btn-default fancybox-button">查看</a>
                                            <a th:shopid="${shopList.id}"
                                               class="btn btn-default fancybox-fast-view11"
                                               th:onclick="'javascript:showView('+${shopList.id}+')'"
                                            >详情</a>
                                        </div>
                                    </div>
                                    <h3><a href="item.html" th:text="${shopList.name}"></a></h3>
                                    <div class="pi-price" th:text="'¥'+${shopList.pirce}"></div>
                                    <a @click="addCar($event,1)" class="btn btn-default add2cart"
                                       th:id="${shopList.id}">加入购物车</a>
                                    <div class="sticker sticker-sale" th:if="${info.index ==0}"></div>
                                    <div class="sticker sticker-new" th:if="${info.index ==1}"></div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- END SALE PRODUCT -->
            </div>
            <!-- END SALE PRODUCT & NEW ARRIVALS -->

            <!-- BEGIN SIDEBAR & CONTENT -->
            <div class="row margin-bottom-40 ">
                <!-- BEGIN SIDEBAR -->
                <div class="sidebar col-md-3 col-sm-4">
                    <ul class="list-group margin-bottom-25 sidebar-menu">
                        <tree :lists="lists"></tree>
                    </ul>
                </div>
                <!-- END SIDEBAR -->
                <!-- BEGIN CONTENT -->
                <div class="col-md-9 col-sm-8">
                    <h2>推荐</h2>
                    <div class="bxslider-wrapper">
                        <ul class="bxslider" data-slides-phone="1" data-slides-tablet="2" data-slides-desktop="3"
                            data-slide-margin="15">
                            <li th:each="shopList,info : ${shopList}" th:if="${info.index > 4}">
                                <div class="product-item">
                                    <div class="pi-img-wrapper">
                                        <img th:src="${shopList.pageaddr}+'/'+${shopList.saveFileName}"
                                             class="img-responsive"
                                             alt="商品">
                                        <div>
                                            <a th:href="${shopList.pageaddr}+'/'+${shopList.saveFileName}"
                                               class="btn btn-default fancybox-button">查看</a>
                                            <a href="#product-pop-up"
                                               class="btn btn-default fancybox-fast-view11"
                                               th:onclick="'javascript:showView('+${shopList.id}+')'"
                                            >View</a>
                                        </div>
                                    </div>
                                    <h3><a href="item.html" th:text="${shopList.name}"></a></h3>
                                    <div class="pi-price" th:text="'¥'+${shopList.pirce}"></div>
                                    <a @click="addCar($event,1)" class="btn btn-default add2cart"
                                       th:id="${shopList.id}">加入购物车</a>
                                    <div class="sticker sticker-sale" th:if="${info.index ==0}"></div>
                                    <div class="sticker sticker-new" th:if="${info.index ==1}"></div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- END CONTENT -->
            </div>
            <!-- END SIDEBAR & CONTENT -->

            <!-- BEGIN TWO PRODUCTS & PROMO -->
            <div class="row margin-bottom-35 ">
                <!-- BEGIN TWO PRODUCTS -->
                <div class="col-md-6 two-items-bottom-items">
                    <h2>推荐</h2>
                    <div class="bxslider-wrapper">
                        <ul class="bxslider" data-slides-phone="1" data-slides-tablet="2" data-slides-desktop="2"
                            data-slide-margin="15">
                            <li>
                                <div class="product-item">
                                    <div class="pi-img-wrapper">
                                        <img src="/templates/upload/ShopManage/20190331//20190331120726_进口洋酒.jpg"
                                             class="img-responsive"
                                             alt="商品">
                                        <div>
                                            <a href="/templates/upload/ShopManage/20190331//20190331120726_进口洋酒.jpg"
                                               class="btn btn-default fancybox-button">Zoom</a>
                                            <a href="#product-pop-up"
                                               class="btn btn-default fancybox-fast-view1">View</a>
                                        </div>
                                    </div>
                                    <h3><a href="item.html">商品</a></h3>
                                    <div class="pi-price">¥66</div>
                                    <a href="#" class="btn btn-default add2cart">加入购物车</a>
                                </div>
                            </li>
                            <li>
                                <div class="product-item">
                                    <div class="pi-img-wrapper">
                                        <img src="/templates/upload/ShopManage/20190331//20190331120754_葡萄酒.jpg"
                                             class="img-responsive"
                                             alt="商品">
                                        <div>
                                            <a href="/templates/upload/ShopManage/20190331//20190331120754_葡萄酒.jpg"
                                               class="btn btn-default fancybox-button">Zoom</a>
                                            <a href="#product-pop-up"
                                               class="btn btn-default fancybox-fast-view1">View</a>
                                        </div>
                                    </div>
                                    <h3><a href="item.html">商品</a></h3>
                                    <div class="pi-price">¥66</div>
                                    <a href="#" class="btn btn-default add2cart">加入购物车</a>
                                </div>
                            </li>
                            <li>
                                <div class="product-item">
                                    <div class="pi-img-wrapper">
                                        <img src="../bootstrap/user/temp/products/k3.jpg" class="img-responsive"
                                             alt="商品">
                                        <div>
                                            <a href="../bootstrap/user/temp/products/k3.jpg"
                                               class="btn btn-default fancybox-button">Zoom</a>
                                            <a href="#product-pop-up"
                                               class="btn btn-default fancybox-fast-view1">View</a>
                                        </div>
                                    </div>
                                    <h3><a href="item.html">商品</a></h3>
                                    <div class="pi-price">¥66</div>
                                    <a href="#" class="btn btn-default add2cart">加入购物车</a>
                                </div>
                            </li>
                            <li>
                                <div class="product-item">
                                    <div class="pi-img-wrapper">
                                        <img src="../bootstrap/user/temp/products/k1.jpg" class="img-responsive"
                                             alt="商品">
                                        <div>
                                            <a href="../bootstrap/user/temp/products/k1.jpg"
                                               class="btn btn-default fancybox-button">Zoom</a>
                                            <a href="#product-pop-up"
                                               class="btn btn-default fancybox-fast-view1">View</a>
                                        </div>
                                    </div>
                                    <h3><a href="item.html">商品</a></h3>
                                    <div class="pi-price">¥66</div>
                                    <a href="#" class="btn btn-default add2cart">加入购物车</a>
                                </div>
                            </li>
                            <li>
                                <div class="product-item">
                                    <div class="pi-img-wrapper">
                                        <img src="../bootstrap/user/temp/products/k4.jpg" class="img-responsive"
                                             alt="商品">
                                        <div>
                                            <a href="../bootstrap/user/temp/products/k4.jpg"
                                               class="btn btn-default fancybox-button">Zoom</a>
                                            <a href="#product-pop-up"
                                               class="btn btn-default fancybox-fast-view1">View</a>
                                        </div>
                                    </div>
                                    <h3><a href="item.html">商品</a></h3>
                                    <div class="pi-price">¥66</div>
                                    <a href="#" class="btn btn-default add2cart">加入购物车</a>
                                </div>
                            </li>
                            <li>
                                <div class="product-item">
                                    <div class="pi-img-wrapper">
                                        <img src="../bootstrap/user/temp/products/k3.jpg" class="img-responsive"
                                             alt="商品">
                                        <div>
                                            <a href="../bootstrap/user/temp/products/k3.jpg"
                                               class="btn btn-default fancybox-button">Zoom</a>
                                            <a href="#product-pop-up"
                                               class="btn btn-default fancybox-fast-view1">View</a>
                                        </div>
                                    </div>
                                    <h3><a href="item.html">商品</a></h3>
                                    <div class="pi-price">¥66</div>
                                    <a href="#" class="btn btn-default add2cart">加入购物车</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- END TWO PRODUCTS -->
                <!-- BEGIN PROMO -->
                <div class="col-md-6">
                    <div class="content-slider">
                        <div id="myCarousel" class="carousel slide" data-ride="carousel">
                            <!-- Indicators -->
                            <ol class="carousel-indicators">
                                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                                <li data-target="#myCarousel" data-slide-to="1"></li>
                                <li data-target="#myCarousel" data-slide-to="2"></li>
                            </ol>
                            <div class="carousel-inner">
                                <div class="item active">
                                    <img src="/templates/upload/台灯_小轮播.jpg" class="img-responsive"
                                         alt="商品">
                                </div>
                                <div class="item">
                                    <img src="../bootstrap/user/temp/index-sliders/slide2.jpg" class="img-responsive"
                                         alt="商品">
                                </div>
                                <div class="item">
                                    <img src="../bootstrap/user/temp/index-sliders/slide3.jpg" class="img-responsive"
                                         alt="商品">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END PROMO -->
            </div>
            <!-- END TWO PRODUCTS & PROMO -->
        </div>
    </div>

    <!-- BEGIN BRANDS -->
    <div th:include="common/Head :: brands"></div>
    <!-- END BRANDS -->

    <!-- END FOOTER -->
    <!--available: (...)-->
    <!--cid: (...)-->
    <!--cname: (...)-->
    <!--open: (...)-->
    <!--orderNum: (...)-->
    <!--parentId: (...)-->
    <!--parentName: (...)-->
    <!--permissiondList: (...)-->
    <!--son: (...)-->
    <!--BEGIN fast view of a product-->
    <!--<td th:text="${shopList}">-->
    <li>
        <div id="product-pop-up" style="display: none;">
            <div class="product-page product-pop-up" style="padding-left: 5%;">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-3">
                        <div class="layui-carousel" id="test10">
                            <div carousel-item="">
                                <div><img :src="view.pageaddr + view.saveFileName" class="viewPicture"></div>
                                <div><img :src="view.pageaddr + view.saveFileName" class="viewPicture"></div>
                                <div><img :src="view.pageaddr + view.saveFileName" class="viewPicture"></div>
                                <div><img :src="view.pageaddr + view.saveFileName" class="viewPicture"></div>
                                <div><img :src="view.pageaddr + view.saveFileName" class="viewPicture"></div>
                                <div><img :src="view.pageaddr + view.saveFileName" class="viewPicture"></div>
                            </div>
                        </div>
                        <div class="product-other-images">
                            <a href="#" class="" v-for="item in minpic"><img alt="商品" :src="item"></a>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-9" style="padding-left: 2%;margin-top: 2%;padding-right: 10%;">
                        <h3><a v-text="view.name"></a></h3>
                        <div class="price-availability-block clearfix">
                            <a class="pi-price">¥</a>
                            <div class="pi-price" v-text="view.price"></div>
                            <div class="availability">
                                库存:
                                <a v-if="view.stockNum==0">无货</a>
                                <a v-if="view.stockNum!=0">有货</a>
                            </div>
                        </div>

                        <div class="product-page-options">
                            <div class="col-sm-3 control-label" style="line-height: 34px;text-align: right;">备注</div>
                            <div class="col-sm-9">
                                <textarea class="form-control" placeholder="备注"
                                          v-model="addcar.remark"
                                ></textarea>
                            </div>
                        </div>
                        <div class="product-page-cart" style="padding-top: 16%;">
                            <div class="product-quantity">
                                  <span class="input-group-btn"><button
                                          class="btn quantity-up bootstrap-touchspin-up" type="button"
                                          @click="addCardNum($event,0)"><i
                                          class="fa fa-angle-up"></i></button></span>
                                <input id="product-quantity" type="text"
                                       v-model="productQuantity"
                                       readonly
                                       class="form-control input-sm" ref="input1" name="text">
                                <span class="input-group-btn"><button
                                        class="btn quantity-down bootstrap-touchspin-down"
                                        type="button" @click="delCardNum($event,0)"><i
                                        class="fa fa-angle-down"></i></button></span>
                            </div>
                            <a class="btn btn-primary" @click="purchase" v-model="view.id">立即购买</a>

                            <a @click="addCar($event,2)" class="btn btn-primary"
                            >添加到购物车</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </li>
</div>

<!-- END fast view of a product -->
<script src="../layui/layui.js"></script>
<!-- Load javascripts at bottom, this will reduce page load time -->
<!-- BEGIN CORE PLUGINS (REQUIRED FOR ALL PAGES) -->
<!--[if lt IE 9]>
<script src="../bootstrap/user/plugins/respond.min.js"></script>
<![endif]-->
<script src="../bootstrap/user/plugins/jquery-1.10.2.min.js" type="text/javascript"></script>
<script src="../bootstrap/user/plugins/jquery-migrate-1.2.1.min.js" type="text/javascript"></script>
<script src="../bootstrap/user/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script type="text/javascript" src="../bootstrap/user/plugins/back-to-top.js"></script>
<script type="text/javascript" src="../bootstrap/user/plugins/jQuery-slimScroll/jquery.slimscroll.min.js"></script>
<!-- END CORE PLUGINS -->

<!-- BEGIN PAGE LEVEL JAVASCRIPTS (REQUIRED ONLY FOR CURRENT PAGE) -->
<script type="text/javascript" src="../bootstrap/user/plugins/fancybox/source/jquery.fancybox.pack.js"></script>
<!-- pop up -->
<script type="text/javascript" src="../bootstrap/user/plugins/bxslider/jquery.bxslider.min.js"></script>
<!-- slider for products -->
<script type="text/javascript" src='../bootstrap/user/plugins/zoom/jquery.zoom.min.js'></script><!-- product zoom -->
<script src="../bootstrap/user/plugins/bootstrap-touchspin/bootstrap.touchspin.js" type="text/javascript"></script>
<!-- Quantity -->

<!-- BEGIN LayerSlider -->
<script src="../bootstrap/user/plugins/layerslider/jQuery/jquery-easing-1.3.js" type="text/javascript"></script>
<script src="../bootstrap/user/plugins/layerslider/jQuery/jquery-transit-modified.js" type="text/javascript"></script>
<script src="../bootstrap/user/plugins/layerslider/js/layerslider.transitions.js" type="text/javascript"></script>
<script src="../bootstrap/user/plugins/layerslider/js/layerslider.kreaturamedia.jquery.js"
        type="text/javascript"></script>
<!-- END LayerSlider -->
<script type="text/javascript" src="../bootstrap/user/scripts/app.js"></script>
<script type="text/javascript" src="../bootstrap/user/scripts/index.js"></script>

<script src="../bootstrap/js/dept/js/vue.min.js"></script>
<script type="text/javascript" src="../bootstrap/js/project/search.js"></script>
<script src="../bootstrap/js/project/user/shop/index/js/index.js"></script>

<script src="../commJs/yuhe.js"></script>

<script type="text/javascript">


    layui.use(['carousel', 'form'], function () {
        var carousel = layui.carousel
            , form = layui.form;
        //图片轮播
        carousel.render({
            elem: '#test10'
            , width: '400px'
            , height: '400px'
            , interval: 5000
        });
    });


    layui.use('element', function () {
        var $ = layui.jquery
            , element = layui.element; //Tab的切换功能，切换事件监听等，需要依赖element模块

        //触发事件
        var active = {
            tabChange: function () {
                //切换到指定Tab项
                element.tabChange('demo', '22'); //切换到：用户管理
            }
        };


    });


    function showView(id) {
        //初始化
        vm.addcar.cartNum = 0;
        vm.addcar.remark = "";

        $.ajax({
            data: {"id": id},
            type: "POST",
            // dataType: 'json',
            url: "/touristShop/viewList",
            success: function (data) {
                console.log('d= ', data);
                if (data.Status == 0) {
                    vm.view = data.shopList;

                }
            },
            error: function (data) {
            }
        });


        window.open('/shopDetail/detail?id=' + id)

    }


    // function shoppingPurchase(id) {
    //     //初始化
    //     cartNum=vm.addcar.cartNum = 0;
    //     remark=vm.addcar.remark = "";
    //     $.ajax({
    //         data: {"id": id},
    //         type: "POST",
    //         dataType: 'json',
    //         url: "/order/shoppingPurchase",
    //     });
    // }
    //立即购买
    function shoppingPurchase(id) {
        debugger
        var cartNum = $("input[name='text']").val();
        id = id;
        remark = vm.addcar.remark;
        if (id && id != 'null') {
            window.location.href = "/order/shoppingPurchase?id=" + id + "&remark=" + remark + "&cartNum=" + cartNum;
        }
    }

    function preSubmit() {
        // console.log('重写表单提交前事件...');
        // var startTimes  = $(" input[ name='startTimes' ] ").val();
        // var endTime  = $(" input[ name='endTime' ] ").val();
        // var bd = daysBetween(startTimes, endTime);
        // console.log('bd=', bd);
        // $("#nDays").val(bd);
        // var name=$("input[name='text']").val();
        //
        // $(" #product-quantity").val()
        // $(" input[ name='test' ] ").val()
        // $(" input[ type='text' ] ").val()
        // $(" input[ type='text' ]").attr("value")
    }


    var layer;


    $(document).ready(function () {

        App.init();
        App.initBxSlider();
        Index.initLayerSlider();
        App.initImageZoom();
        App.initTouchspin();

        layui.use("layer", function () {
            layer = layui.layer;  //layer初始化

        })
    });

    function change(lang) {
        $.ajax(
            {
                type: 'post',
                url: '/changeLang',
                dataType: 'json',
                data: {
                    lang: lang
                }, success: function (data) {
                    location.reload();
                }, erro: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert("erro");
                }
            }
        )

    }


</script>
<!-- END PAGE LEVEL JAVASCRIPTS -->
</body>
<!-- END BODY -->
</html>