<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:shiro="http://www.w3.org/1999/xhtml">

<head th:include="common/Head :: headCss">

</head>
<body>
<div class="ibox-content">
    <div class="carousel slide" id="carousel2">
        <ol class="carousel-indicators">
            <li th:each="prod,info : ${list}" th:data-slide-to="${info.index}" data-target="#carousel2"
                class="active"
                th:if="${info.index ==0}">
            <li th:each="prod,info : ${list}" th:data-slide-to="${info.index}" data-target="#carousel2"
                th:if="${info.index !=0}">
            </li>
        </ol>
        <div class="carousel-inner">
            <div class="item active" th:each="prod,info : ${list}" th:if="${info.index ==0}"
                 style="align-content: center;">
                <img alt="image" class="img-responsive"
                     th:src="${prod.pageaddr}+'/'+${prod.saveFileName}" style="height: 90%;"
                >
                <div class="carousel-caption">
                    <p th:text="${prod.fileName}" style="color: rgba(56, 47, 47, 0.78);font-size: 20px;"></p>
                </div>
            </div>
            <div class="item " th:each="prod,info : ${list}" th:if="${info.index !=0}">
                <img alt="image" class="img-responsive"
                     th:src="${prod.pageaddr}+'/'+${prod.saveFileName}"
                >
                <div class="carousel-caption">
                    <p th:text="${prod.fileName}" style="color: rgba(56, 47, 47, 0.78);font-size: 20px;"></p>
                </div>
            </div>
        </div>
        <a data-slide="prev" href="#carousel2" class="left carousel-control">
            <span class="icon-prev"></span>
        </a>
        <a data-slide="next" href="#carousel2" class="right carousel-control">
            <span class="icon-next"></span>
        </a>
    </div>
</div>
<div th:include="common/Head :: js"></div>

<script th:inline="javascript">

</script>


</body>

</html>
