<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youhe.mapper.role.RoleMapper">


    <resultMap type="com.youhe.entity.role.Role" id="roleList">
        <id property="rid" column="RID"/>
        <result property="rname" column="RNAME"/>
        <result property="available" column="AVAILABLE"/>
        <result property="parentId" column="PARENT_ID"></result>
        <result property="parentName" column="PARENT_NAME"></result>
        <result property="orderNum" column="ORDER_NUM"/>
    </resultMap>


    <resultMap id="role_use_list" type="com.youhe.entity.role.User_Role">
        <id column="id" property="id"></id>
        <result column="sys_user_id" property="sys_user_id"></result>
        <result column="sys_role_id" property="sys_role_id"></result>
    </resultMap>


    <!-- 查询角色-->
    <select id="findRoleList" parameterType="com.youhe.entity.role.Role" resultMap="roleList">
        SELECT *,(SELECT RNAME FROM sys_role WHERE s.PARENT_ID = RID) PARENT_NAME FROM sys_role s
        <where>
            <trim prefixOverrides="AND">
                <if test="rid">
                    AND s.RID=#{rid}
                </if>
                <if test="rname!=null and rname !=''">
                    AND s.RNAME=#{rname,jdbcType=VARCHAR}
                </if>
            </trim>
        </where>
    </select>


    <insert id="add" parameterType="com.youhe.entity.role.Role" keyProperty="rid"
            useGeneratedKeys="true">
        insert into sys_role(RNAME,AVAILABLE,PARENT_ID,ORDER_NUM) value(#{rname},1,#{parentId},#{orderNum})
    </insert>


    <update id="update" parameterType="com.youhe.entity.role.Role">
        UPDATE sys_role
        SET
        <trim suffixOverrides=",">
            <if test="parentId != null">
                PARENT_ID =#{parentId},
            </if>
            <if test="available != null">
                AVAILABLE =#{available},
            </if>
            <if test="rname != null and rname!=''">
                RNAME=#{rname},
            </if>
            <if test="orderNum != null">
                ORDER_NUM =#{orderNum},
            </if>
        </trim>
        WHERE RID=#{rid}
    </update>

    <delete id="del" parameterType="com.youhe.entity.role.Role">
           DELETE  from sys_role  WHERE RID=#{rid}
    </delete>


    <!-- 更新角色-用户表 -->
    <update id="update_user_Role" parameterType="com.youhe.entity.role.User_Role">
        UPDATE sys_user_role
        <set>
            <trim suffixOverrides=",">
                <if test="sys_user_id !=null and sys_user_id !=''">
                    sys_user_id = #{sys_user_id,jdbcType=VARCHAR},
                </if>
                <if test="sys_role_id!= null and sys_role_id !=''">
                    sys_role_id = #{sys_role_id,jdbcType=VARCHAR},
                </if>
            </trim>
        </set>
        <where>
            <trim prefixOverrides="AND">
                <if test="id !=null and id !=''">
                    AND id = #{id,jdbcType=INTEGER}
                </if>
                <if test="sys_user_id !=null and sys_user_id !=''">
                    AND sys_user_id = #{sys_user_id,jdbcType=VARCHAR}
                </if>
            </trim>
        </where>
    </update>


    <insert id="save_user_Role" parameterType="com.youhe.entity.role.User_Role" keyProperty="id"
            useGeneratedKeys="true">
        insert into sys_user_role(
        sys_user_id,
        sys_role_id
        )
        values(
        #{sys_user_id,jdbcType=VARCHAR},
        #{sys_role_id,jdbcType=VARCHAR}
        )
    </insert>

    <delete id="del_user_Role" parameterType="com.youhe.entity.role.User_Role">
        DELETE  from sys_user_role where sys_user_id = #{sys_user_id}
    </delete>

</mapper>