<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${taskData.flowVariable['currentNodeName']}">当前节点</title>
    <div th:include="common/Head :: headCss"></div>
</head>

<body style="background: white">

<!--todo 流程表单头部， 还未完成-->
<div th:include="activiti/common/form :: hisTaskFormHead"></div>

<div class="container" style="padding-left:0!important;padding-right:0!important;">
    <!--下面是业务表单-->
    <form name="businessForm" id="businessForm">
        <!--表格内容-->
        <div class="table-responsive" th:utext="${table}"></div>
        <!--隐藏字段，用于路由条件变量判断-->
        <div id="hideDiv">
            <input type="hidden" name="type" value="2">
        </div>
        <!--用于表单必填验证-->
        <button style="display: none" type="submit" id="busBtn">提交</button>
    </form>

</div>

<!--提交任务模态框-->
<div th:include="activiti/common/form :: submitTaskModal"></div>

<div th:include="common/Head :: mainJs"></div>
<script th:utext="${script}"></script>
</body>
</html>