<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youhe.mapper.opinion.OpinionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.youhe.entity.opinion.Opinion">
        <id column="id" property="id" />
        <result column="opinion_name" property="opinionName" />
        <result column="user_id" property="userId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, opinion_name,user_id
    </sql>


    <select id="findOpinionList" parameterType="com.youhe.entity.opinion.Opinion" resultMap="BaseResultMap">
     SELECT * from sys_opinion
     where user_id=#{userId}
        <if test="id!=null">
            AND id=#{id}
        </if>
    </select>


    <insert id="save" parameterType="com.youhe.entity.opinion.Opinion"
            useGeneratedKeys="true">
       insert into sys_opinion(opinion_name, user_id) value (#{opinionName}, #{user_Id})
    </insert>

    <update id="update" parameterType="com.youhe.entity.opinion.Opinion">
        UPDATE sys_opinion
        SET
            <if test="opinionName != null">
                opinion_name =#{opinionName}
            </if>
        WHERE id=#{id}
    </update>


    <delete id="del" parameterType="com.youhe.entity.opinion.Opinion">
        DELETE
        from sys_opinion
        WHERE id = #{id}
    </delete>

</mapper>
