<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youhe.mapper.activiti.ActivitiMapper">

    <resultMap id="map" type="com.youhe.entity.activitiData.ACT_RE_MODEL_PROCDEF">
        <result property="resId" column="RESID"></result>
        <result property="resName" column="RESNAME"></result>
        <result property="id_" column="ID_"></result>
        <result property="rev_" column="REV_"></result>
        <result property="category_" column="CATEGORY_"></result>
        <result property="name_" column="NAME_"></result>
        <result property="key_" column="KEY_"></result>
        <result property="version_" column="VERSION_"></result>
        <result property="deployment_id_" column="DEPLOYMENT_ID_"></result>
        <result property="resource_name_" column="RESOURCE_NAME_"></result>
        <result property="dgrm_resource_name_" column="DGRM_RESOURCE_NAME_"></result>
        <result property="description_" column="DESCRIPTION_"></result>
        <result property="has_start_from_key_" column="HAS_START_FORM_KEY_"></result>
        <result property="suspension_state_" column="SUSPENSION_STATE_"></result>
    </resultMap>


    <select id="findList" resultMap="map">
        select distinct RES.ID_  RESID , RES.NAME_  RESNAME,REP.* from ACT_RE_MODEL RES
        LEFT JOIN ACT_RE_PROCDEF REP ON  RES.DEPLOYMENT_ID_ = REP.DEPLOYMENT_ID_  order by
        RES.ID_ asc LIMIT 2147483647 OFFSET 0
    </select>


</mapper>