<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youhe.mapper.permisson.PermissonMapper">


    <resultMap type="com.youhe.entity.permission.Permission" id="permission">
        <id property="pid" column="PID"/>
        <result property="pname" column="PNAME"/>
        <result property="type" column="TYPE"/>
        <result property="url" column="URL"></result>
        <result property="percode" column="PERCODE"></result>
        <result property="parentid" column="PARENTID"/>
        <result property="parentids" column="PARENTIDS"/>
        <result property="parentName" column="PARENT_NAME"/>
        <result property="sortstring" column="SORTSRING"/>
        <result property="available" column="AVAILABLE"/>
        <result property="types" column="TYPES"/>
        <result property="icon" column="MENUICON"/>
    </resultMap>


    <resultMap id="save_Permission_Role" type="com.youhe.entity.permission.Permission_Role">
        <id property="id" column="id"/>
        <result property="sys_permission_id" column="sys_permission_id"></result>
        <result property="sys_role_id" column="sys_role_id"></result>
    </resultMap>

    <!-- 查询权限-->
    <select id="findPermissionList" parameterType="com.youhe.entity.permission.Permission" resultMap="permission">
        SELECT  *,
        ( SELECT `PNAME` FROM sys_permission WHERE PID = pe.PARENTID ) PARENT_NAME,
        (
        CASE pe.type
        WHEN "menu" THEN
        '菜单'
        WHEN "button" THEN
        '按钮'
        ELSE
        '为空'
        END
        ) types
        FROM sys_permission pe
        <where>
            <trim prefixOverrides="AND">
                <if test="pid !=null and pid !=''">
                    AND PID=#{pid}
                </if>
            </trim>
        </where>
    </select>

    <insert id="save_permission_role" parameterType="com.youhe.entity.permission.Permission_Role"
            keyProperty="id"
            useGeneratedKeys="true">
        insert into sys_role_permission(
        sys_permission_id,
        sys_role_id
        )
        values(
        #{sys_permission_id},
        #{sys_role_id}
        )
    </insert>

    <delete id="del_permission_role" parameterType="com.youhe.entity.permission.Permission_Role">
        DELETE  from sys_role_permission where sys_role_id = #{sys_role_id}
    </delete>


    <select id="find_permission_roleList" parameterType="com.youhe.entity.permission.Permission_Role" resultMap="save_Permission_Role">
       SELECT * from sys_role_permission where sys_role_id = #{sys_role_id}
    </select>

    <insert id="add" parameterType="com.youhe.entity.permission.Permission" keyProperty="pid"
            useGeneratedKeys="true">
               insert into sys_permission ( PARENTID, TYPE, PNAME,URL,PERCODE, SORTSRING, AVAILABLE,MENUICON)  value(#{parentid},#{type},#{pname},#{url},#{percode},#{sortstring},1,#{icon})
    </insert>

    <update id="update" parameterType="com.youhe.entity.permission.Permission">
        UPDATE sys_permission
        SET
        <trim suffixOverrides=",">
            <if test="parentid != null">
                PARENTID =#{parentid},
            </if>
            <if test="pname != null and pname!=''">
                PNAME=#{pname},
            </if>
            <if test="type != null and type!=''">
                TYPE =#{type},
            </if>
            <if test="url != null and url!=''">
                URL=#{url},
            </if>
            <if test="percode != null and percode!=''">
                PERCODE=#{percode},
            </if>
            <if test="sortstring != null">
                SORTSRING =#{sortstring},
            </if>
            <if test="icon != null">
                MENUICON =#{icon},
            </if>
        </trim>
        WHERE PID=#{pid}
    </update>


    <select id="findDepartMentList" parameterType="com.youhe.entity.permission.Permission" resultMap="permission">
        select * , (SELECT `PNAME` from sys_permission where PID = pe.PARENTID) PARENT_NAME from sys_permission pe
        where
        1 = 1
        <if test="parentid != null">
            AND PARENTID = #{parentid}
        </if>
        <if test="pid != null">
            AND PID = #{pid}
        </if>
        and AVAILABLE = 1
    </select>

    <delete id="del" parameterType="com.youhe.entity.permission.Permission">
        DELETE from sys_permission where PID=#{pid}
    </delete>

    <select id="selectMentList"
            resultType="com.youhe.entity.permission.Permission">
    select pid as 'pid',
           pname as 'pname',
           type as 'type',
           url as 'url',
           percode as 'percode',
           parentid as 'parentid',
           menuicon as 'icon'
           from sys_permission
    </select>


</mapper>