<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youhe.mapper.shop.ShopMapper">


    <resultMap type="com.youhe.entity.shop.Shop" id="shopList">
        <id property="id" column="ID"/>
        <result property="name" column="NAME"/>
        <result property="pirce" column="PRICE"/>
        <result property="num" column="NUM"></result>
        <result property="top" column="TOP"/>
        <result property="status" column="STATUS"/>
        <result property="register" column="REGISTER"/>
        <result property="orderNum" column="ORDER_NUM"/>
        <result property="saveFileName" column="SAVE_FILE_NAME"></result>
    </resultMap>

    <!--
      商品表和照片表关联，右表为照片表，当有多数据的时候取第一张为关联数据，满足前台的缩略图预览
    -->
    <select id="findShopList" parameterType="com.youhe.entity.shop.Shop" resultMap="shopList">
        SELECT sc.*,sp.SAVE_FILE_NAME FROM shop_commodity sc
        LEFT JOIN shop_picture sp ON sc.ID = sp.SHOP_ID
        AND
        sp.ID =
        (SELECT ID from shop_picture ssp where sc.ID = ssp.SHOP_ID LIMIT 1)
        where
        1=1
        <if test="id!=null and id !=''">
            AND sc.ID = #{id}
        </if>

        ORDER BY sc.top ,sc.ORDER_NUM DESC
    </select>

    <insert id="save" parameterType="com.youhe.entity.shop.Shop" keyProperty="id"
            useGeneratedKeys="true">
        insert into shop_commodity(
        NAME,
        PRICE,
        NUM,
        TOP,
        STATUS,
        REGISTER,
        ORDER_NUM
        )
        values(
        #{name,jdbcType=VARCHAR},
        #{pirce,jdbcType=INTEGER},
        #{num,jdbcType=INTEGER},
        #{top,jdbcType=INTEGER},
        #{status,jdbcType=INTEGER},
        NOW(),
        #{orderNum,jdbcType=VARCHAR}
        )
    </insert>


    <delete id="del" parameterType="com.youhe.entity.shop.Shop">
        DELETE from shop_commodity
        where  ID = #{id,jdbcType=INTEGER}
    </delete>


    <update id="update" parameterType="com.youhe.entity.shop.Shop">
        UPDATE shop_commodity
        <set>
            <trim suffixOverrides=",">
                <if test="name != null and name != ''">
                    NAME = #{name,jdbcType=VARCHAR},
                </if>
                <if test="pirce != null and pirce != ''">
                    PRICE = #{pirce,jdbcType=INTEGER},
                </if>
                <if test="num != null and num != ''">
                    NUM = #{num,jdbcType=VARCHAR},
                </if>
                <if test="top != null and top != ''">
                    TOP = #{top,jdbcType=VARCHAR},
                </if>
                <if test="status != null and status != ''">
                    STATUS = #{status,jdbcType=VARCHAR},
                </if>
                <if test="name != null ">
                    REGISTER = NOW(),
                </if>

            </trim>
        </set>
        <where>
            <trim prefixOverrides="AND">
                <if test="id != null and id != ''">
                    AND ID = #{id,jdbcType=INTEGER}
                </if>
            </trim>
        </where>
    </update>


</mapper>