<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youhe.mapper.shop.ShopMapper">


    <resultMap type="com.youhe.entity.shop.Shop" id="shopList">
        <id property="id" column="ID"/>
        <result property="name" column="NAME"/>
        <result property="pirce" column="PRICE"/>
        <result property="num" column="NUM"></result>
        <result property="top" column="TOP"/>
        <result property="status" column="STATUS"/>
        <result property="register" column="REGISTER"/>
        <result property="orderNum" column="ORDER_NUM"/>
        <result property="saveFileName" column="SAVE_FILE_NAME"></result>
        <result property="pageaddr" column="PAGEADDR"></result>
        <result property="hotSale" column="HOT_SALE"></result>
        <result property="isNewProductOrderNum" column="IS_NEW_PRODUCT_ORDER_NUM"></result>
        <result property="commodityId" column="COMMODITY_ID"></result>
        <result property="describe" column="DESCRIBE"></result>
        <result property="available" column="AVAILABLE"></result>
        <result property="tid" column="TID"></result>
        <result property="color" column="COLOR"></result>
        <result property="size" column="SIZE"></result>
    </resultMap>

    <resultMap type="com.youhe.entity.shop.Shop" id="commodityList">
        <id property="id" column="ID"/>
        <result property="name" column="NAME"/>
        <result property="pirce" column="PRICE"/>
        <result property="num" column="NUM"></result>
        <result property="top" column="TOP"/>
        <result property="status" column="STATUS"/>
        <result property="register" column="REGISTER"/>
        <result property="orderNum" column="ORDER_NUM"/>
        <result property="saveFileName" column="SAVE_FILE_NAME"></result>
        <result property="pageaddr" column="PAGEADDR"></result>
        <result property="hotSale" column="HOT_SALE"></result>
        <result property="isNewProductOrderNum" column="IS_NEW_PRODUCT_ORDER_NUM"></result>
    </resultMap>

    <!--<resultMap type="com.youhe.entity.shop.Shop" id="commodityTypeList">-->
        <!--<id property="id" column="ID"/>-->
        <!--<result property="name" column="NAME"/>-->
        <!--<result property="pirce" column="PRICE"/>-->
        <!--<result property="num" column="NUM"></result>-->
        <!--<result property="top" column="TOP"/>-->
        <!--<result property="status" column="STATUS"/>-->
        <!--<result property="register" column="REGISTER"/>-->
        <!--<result property="orderNum" column="ORDER_NUM"/>-->
        <!--<result property="saveFileName" column="SAVE_FILE_NAME"></result>-->
        <!--<result property="pageaddr" column="PAGEADDR"></result>-->
        <!--<result property="hotSale" column="HOT_SALE"></result>-->
        <!--<result property="isNewProductOrderNum" column="IS_NEW_PRODUCT_ORDER_NUM"></result>-->
        <!--<result property="commodityId" column="COMMODITY_ID"></result>-->
        <!--<result property="describe" column="DESCRIBE"></result>-->
        <!--<result property="available" column="AVAILABLE"></result>-->
        <!--<result property="tid" column="TID"></result>-->
        <!--<result property="color" column="COLOR"></result>-->
        <!--<result property="size" column="SIZE"></result>-->
    <!--</resultMap>-->

    <!--
      商品表和照片表关联，右表为照片表，当有多数据的时候取第一张为关联数据，满足前台的缩略图预览
    -->
    <select id="findShopList" parameterType="com.youhe.entity.shop.Shop" resultMap="shopList">
        SELECT sc.*,sp.SAVE_FILE_NAME,sp.PAGEADDR,ct.TID,ct.COLOR,ct.SIZE FROM shop_commodity sc
        LEFT JOIN shop_picture sp ON sc.ID = sp.SHOP_ID
        LEFT JOIN shop_commodity_type ct ON ct.commodity_type_id = sc.id
        AND
        sp.ID =
        (SELECT ID from shop_picture ssp where sc.ID = ssp.SHOP_ID LIMIT 1)
        where
        1=1

        <if test="id!=null">
            AND sc.ID = #{id}
        </if>

        <if test="id!=null">
            AND sc.ID = #{id}
        </if>

        <if test="isIndex !=null">
            AND sp.SAVE_FILE_NAME is not NULL
            AND sp.PAGEADDR is not NULL
        </if>

        <if test="status!=null">
            AND sc.STATUS = #{status}
        </if>
        ORDER BY
        1 = 1
        <if test="orderNum_Sort != null and orderNum_Sort ==1">
            ,sc.ORDER_NUM
        </if>
        <if test="isNewProductOrderNum_Sort != null and isNewProductOrderNum_Sort == 1">
            ,sc.IS_NEW_PRODUCT_ORDER_NUM
        </if>
        <if test=" top_Sort !=null and top_Sort ==1 ">
            , sc.TOP
        </if>
        <if test=" register_Sort !=null and  register_Sort ==1 ">
            , sc.REGISTER
        </if>
        <if test=" hotSale_Sort !=null and hotSale_Sort == 1">
            , sc.HOT_SALE
        </if>
        <if test=" name_Sort !=null and name_Sort == 1">
            , sc.NAME
        </if>
        <if test=" pirce_Sort !=null and pirce_Sort ==1 ">
            , sc.PRICE
        </if>
        <if test=" num_Sort !=null and num_Sort == 1">
            , sc.NUM
        </if>
        DESC
    </select>

    <!--
     商品表和商品分类变关联，商品表和照片表关联，右表为照片表，
   -->
    <select id="findCommodity" parameterType="com.youhe.entity.shop.Shop" resultMap="commodityList">
        SELECT sc.*,
               cr.CNAME,
               cr.CID,
               sp.SAVE_FILE_NAME,
               sp.PAGEADDR
        FROM shop_commodity_role cr
                 LEFT JOIN shop_commodity sc ON sc.commodity_id = cr.cid
                 LEFT JOIN shop_picture sp ON sc.ID = sp.SHOP_ID
            AND
                                              sp.ID =
                                              (SELECT ID from shop_picture ssp where sc.ID = ssp.SHOP_ID LIMIT 1)
        WHERE cr.cid = #{cid}
    </select>


    <!--&lt;!&ndash;-->
    <!--商品表和商品类型表关联，右表类型表-->
  <!--&ndash;&gt;-->
    <!--<select id="findCommodityType" parameterMap="com.youhe.entity.shop.Shop" resultMap="commodityType">-->
           <!--SELECT-->
	         <!--sc.*,-->
	         <!--ct.TID,-->
	         <!--ct.COLOR,-->
	         <!--ct.SIZE-->
           <!--FROM  shop_commodity sc-->
	       <!--LEFT JOIN shop_commodity_type ct ON ct.commodity_type_id = sc.id-->
           <!--WHERE sc.id = #{id}-->
    <!--</select>-->


    <insert id="save" parameterType="com.youhe.entity.shop.Shop" keyProperty="id"
            useGeneratedKeys="true">
        insert into shop_commodity(NAME,
                                   PRICE,
                                   NUM,
                                   TOP,
                                   STATUS,
                                   REGISTER,
                                   ORDER_NUM,
                                   HOT_SALE,
                                   IS_NEW_PRODUCT_ORDER_NUM)
        values (#{name,jdbcType=VARCHAR},
                #{pirce,jdbcType=INTEGER},
                #{num,jdbcType=INTEGER},
                #{top,jdbcType=INTEGER},
                #{status,jdbcType=INTEGER},
                NOW(),
                #{orderNum,jdbcType=VARCHAR},
                #{hotSale,jdbcType=INTEGER},
                #{isNewProductOrderNum,jdbcType=INTEGER})
    </insert>


    <delete id="del" parameterType="com.youhe.entity.shop.Shop">
        DELETE
        from shop_commodity
        where ID = #{id,jdbcType=INTEGER}
    </delete>


    <update id="update" parameterType="com.youhe.entity.shop.Shop">
        UPDATE shop_commodity
        <set>
            <trim suffixOverrides=",">
                <if test="name != null and name != ''">
                    NAME = #{name,jdbcType=VARCHAR},
                </if>
                <if test="pirce != null">
                    PRICE = #{pirce,jdbcType=INTEGER},
                </if>
                <if test="num != null and num != ''">
                    NUM = #{num,jdbcType=VARCHAR},
                </if>
                <if test="top != null and top != ''">
                    TOP = #{top,jdbcType=VARCHAR},
                </if>
                <if test="status != null">
                    STATUS = #{status,jdbcType=INTEGER},
                </if>
                <if test="hotSale != null">
                    HOT_SALE = #{hotSale,jdbcType=INTEGER},
                </if>
                <if test="name != null ">
                    REGISTER = NOW(),
                </if>
                <if test="isNewProductOrderNum !=null">
                    IS_NEW_PRODUCT_ORDER_NUM = #{isNewProductOrderNum,jdbcType=INTEGER},
                </if>
            </trim>
        </set>
        <where>
            <trim prefixOverrides="AND">
                <if test="id != null and id != ''">
                    AND ID = #{id,jdbcType=INTEGER}
                </if>
            </trim>
        </where>
    </update>


</mapper>