<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youhe.mapper.department.DepartmentMapper">

    <resultMap type="com.youhe.entity.department.Department" id="departmentList">
        <id property="deptId" column="DEPT_ID"/>
        <result property="parentId" column="PARENT_ID"/>
        <result property="name" column="NAME"/>
        <result property="parentName" column="PARENT_NAME"/>
        <result property="orderNum" column="ORDER_NUM"/>
        <result property="status" column="STATUS"/>
    </resultMap>


    <select id="findDepartMentList" parameterType="com.youhe.entity.department.Department" resultMap="departmentList">
        select * , (SELECT `NAME` from sys_department where DEPT_ID = de.PARENT_ID) PARENT_NAME from sys_department de
        where
        1 = 1
        <if test="parentId != null">
            AND PARENT_ID = #{parentId}
        </if>
        <if test="deptId != null">
            AND DEPT_ID = #{deptId}
        </if>
        and STATUS = 1
    </select>


    <delete id="del" parameterType="com.youhe.entity.department.Department">
        DELETE from sys_department where DEPT_ID=#{deptId}
    </delete>

    <update id="update" parameterType="com.youhe.entity.department.Department">
        UPDATE sys_department
        SET
        <if test="parentId != null">
            PARENT_ID =#{parentId},
        </if>
        <if test="name != null and name!=''">
            NAME=#{name},
        </if>
        <if test="orderNum != null">
            ORDER_NUM =#{orderNum},
        </if>
        <if test="status != null">
            STATUS =#{status},
        </if>
        WHERE DEPT_ID=#{deptId}
    </update>

    <insert id="add" parameterType="com.youhe.entity.department.Department" keyProperty="deptId"
            useGeneratedKeys="true">
              insert into sys_department(PARENT_ID,NAME,ORDER_NUM,STATUS) value(#{parentId},#{name},#{orderNum},1)
    </insert>

</mapper>